::-webkit-scrollbar-track {
    background-color: #fff;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #f68338;
  }

html,body{
	width: 100%;
    margin: 0px;
    padding: 0px;
	overflow-x: hidden;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.7;
    color: #333333;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6{
    color: #333333;
    font-weight: 600;
}

p {
    letter-spacing: 0;
    line-height:1.8;
}

a{
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

a:focus{
    outline:none;
    text-decoration: none;
}

ul,li{
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding{
    padding: 60px 0 60px 80px;
}

.section-header{
    margin-bottom: 60px;
    text-align: center;
}

.section-header h2 {
    display: inline-block;
    padding: 5px;
    margin: 5px 0;
}

.line-one {
    height: 1px;
    width: 100px;
    background: #f68338;
    display: block;
    margin: 0 auto;
    padding: 0;
}

/*---Default css ends---*/

/*-------------- 2. Preloader css starts ---------------*/

.loader_bg {
    position: fixed;
    z-index: 9999999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader:before, .loader:after {
    content: '';
    border: 1em solid #F68338;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader:before {
    animation-delay: .5s;
}

@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0; }
    50% {
        opacity: 1; }
    100% {
        transform: scale(1);
        opacity: 0; }
}


/*-------------- Preloader css ends ---------------*/

/*--- 3. Mouse animation css starts---*/

@-webkit-keyframes scroll-ani {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

@keyframes scroll-ani {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

.mouse-scroll {
    position: absolute;
    left:48%;
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #ffffff;
    letter-spacing: 2px;
    margin-top: 10%;
    text-decoration: none;
    overflow: hidden;
}

.mouse-scroll .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 60px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #ffffff;
    border-radius: 23px;
}

.mouse-scroll .mouse .mouse-movement {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: #ffffff;
    border-radius: 50%;
    -webkit-animation: scroll-ani 2s linear infinite;
    animation: scroll-ani 2s linear infinite;
}

/*---mouse animation ends---*/

/*---------- 4. Nav area css starts -------------*/

.nav-area{
    width: 100%;
    height: 65px;
    text-align: center;
    background: #292929;
    left: 80px;
    padding-top: 6px;
}

.nav-area.sticky_navigation{
    background: #ffffff !important;
    height: 80px  !important;
}

.navbar-nav {
    float: none !important;
    margin-right: 0px;
}

.sticky_navigation{
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out ;
    transition: all 0.4s ease-out ;
    -webkit-box-shadow: 0px 3px 4.6px 0.3px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 4.6px 0.3px rgba(0,0,0,0.25);
}

.nav-area .main-menu{
    margin-top: 0;
}

.nav-area .navbar-brand, .sticky_navigation .navbar-brand span {
    color: #000000;
}

.nav-area .navbar-brand:hover, .sticky_navigation .navbar-brand:focus, .sticky_navigation .navbar-brand span {
    color: #5f84f2;
}


.nav-area .nav li.active a{
    color: #f68338;
}

.nav-area .nav li.active::before {
    border-top: 1px solid #f68338;
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
}
.nav-area .nav li.active::after {
    border-bottom: 1px solid #f68338;
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
}

.nav-area .navbar-brand:hover{
    color: #ffffff;
}

.main-menu{
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    margin-top: 10px;
}

.navbar{
    border:0;
    margin-bottom: 0;
}

.navbar-brand{
    padding: 25px 0;
    text-transform: uppercase;
    font-size: 25px;
    display: block;
    color: #ffffff;
    font-weight: 800;
}

.logo {
    padding: 5px;
    font-size: 32px;
    letter-spacing: 3px;
}

.navbar-brand:focus, .navbar-brand:hover {
    text-decoration: none;
    color: #ffffff;
}

.navbar-right li{
    display: inline-block;
    float: none;
}

.navbar-right li a{
    color: #c3c3c3;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-right li.active a{
    font-weight: bold;
    color: #ffffff;
}

.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus{
    background: none;
}

.navbar-toggle .icon-bar{
    background: #033D75;
}

/*---------- Nav area css ends -------------*/

/*----------- 5. Banner area css starts--------------*/


.banner-area{
    padding-left: 80px;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
}

.banner-img{
    background-image: url(../images/home/home-bg-1.jpg);
    background-position: right;
    background-size:cover;
    height: 100vh;
    width: 100%;
}

.banner-area::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    content: '';
}

canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.banner-table{
    display: table;
    margin: 0;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.banner-table-cell{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.welcome-text .intro h2 {
    color: #fff;
    font-size: 85px;
    font-weight: 800;
    margin-bottom: 10px;
}

.intro h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 200;
    margin: 0;
}

.ah-headline.clip .ah-words-wrapper::after {
    background-color: #fff;
}

.banner-btn {
    background: #f68338;
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 25px;
    color: #383838;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: 600;
    border-left: 6px solid #383838;
}
.banner-btn:hover, .banner-btn:focus {
    text-decoration: none;
    color: #ffffff;
}

.welcome-text h3 {
    color: #f68338;
    text-transform: uppercase;
}


/*---------Banner area css ends--------------*/

/*---------- 6. About area css starts---------------*/

.about-text-left h2 {
    font-weight: 700;
    font-size: 36px;
    color: #212121;
    line-height: 1;
    text-align: right;
    margin-bottom: 5px;
}

.about-text-left h3 {
    color: #212121;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: right;
    margin-bottom: 18px;
}

.about-text-left p{
    text-align: right;
    font-size: 13px;
    color: #222;
    margin-bottom: 50px;
}

.about-text-left a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    background: #f68338;
    padding: 15px;
    float: right;
    text-decoration: none;
}

.about-text-right {
    margin-top: 55px;
}

.about-text-left {
    margin-top: 55px;
}

.about-text-left p {
    text-align: right;
    font-size: 15px;
    color: #222;
    margin-bottom: 50px;
}
.about-img {
	margin-top:16%;
}

.skillbar {
    margin-bottom: 24px;
    position: relative;
    width: 100%;
    display: block
}

.skillbar .skillbar-title {
    display: inline-block;
    vertical-align: middle
}

.skillbar .skillbar-percent {
    float: right;
    display: inline-block;
    vertical-align: middle
}

.skillbar-bar {
    background-color: #ffe2cf;
    width: 100%;
    height: 5px
}

.skillbar-bar .skillbar-child {
    width: 0;
    height: 100%;
    background-color: #f68338;
    -webkit-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color
}

/*-------About area css ends--------------*/

/*---------------7. Services area Starts--------------*/

.services-area {
	background: #F3F4F3;
}

.services-icon i {
	font-size: 35px;
	color: #f68338;
}

.single-services:hover i{
	color: #212121;
}

.services-content h3 {
	line-height: 1.9;
	text-transform: uppercase;
}

.services-icon {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	padding: 20px;
}

.single-services {
	padding: 40px 20px;
	margin: 0 15px 15px;
	position: relative;
	overflow: hidden;
}

.single-services:hover {
	-webkit-transition: ease .09s;
	-o-transition: ease .09s;
	transition: ease .09s;
}

.single-services:hover .services-icon{
	-webkit-transition: ease .3s;
	-o-transition: ease .3s;
	transition: ease .3s;
}

.single-services:hover .services-icon i {
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: .9s;
	-o-transition: .9s;
	transition: .9s;
}

.single-services:hover {
	-webkit-transition: .9s;
	-o-transition: .9s;
	transition: .9s;
}

.single-services:hover .services-content {
	color: #000000;
}

.single-services:hover .services-content h3 {
	color: #c75c16;
}

/*--------------- Services area ends --------------*/

/*-------------- 9. Portfolio area starts-----------*/

#container {
  margin: auto;
}
.grid-item {
display: inline-block;
    height: 259px;

    overflow: hidden;
    text-align: center;
    width: 400px;
}
.grid-item img{
	width:100%;
	height:auto;
    transition: 0.9s;
}


.isotope-pager .pager {
  display: inline-block;
}
.filters {
	width: 100%;
	text-align: center;
	padding-bottom: 35px;
	padding-top:20px;
	
}

.filters ul {
	list-style: none;
    padding: 10px 10px;
    box-shadow: -1px 1px 11px rgba(0,0,0,.4);
    margin: 0 40px;
    border-radius: 30px;
	background-color: #232323;
}

.filters li {
	display: inline-block;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.filters li a{
	color: #b6b6b6;
    padding: 5px 25px;
    font-size: 12px;
	text-decoration: none;
}
.filters li a:hover{
	color:#fff;
}

.filters li:hover {
	box-shadow: -1px 1px 11px rgba(0,0,0,.4);
	border-radius: 15px;
}

.filters li.active a{
	color: #f68338;
    border: 1px solid #f68338;
    border-radius: 15px;
    box-shadow: -1px 1px 11px rgba(0,0,0,.4);
    padding: 5px 25px;
	
}



.isotope-pager a{
    margin: 6px 1px;
    display: inline-block;
    width: 50px;
    /* height: 60px; */
    line-height: 31px;
    color: #f68338;
    font-weight: 600;
    transition: 0.3s;
    /* position: relative; */
    /* padding-right: 26px; */
    box-shadow: -1px 1px 11px rgba(0,0,0,.1);
    border-radius: 25px;
    background-color: #232323;
    border: .5px solid #f68338;
    text-decoration: none;
}

.isotope-pager a:hover{
  color: #fff;
  border: .5px solid #ffeeac;
  box-shadow: -1px 1px 10px 3px rgba(0,0,0,.1);
}

.isotope-pager .active{
  color: #e3ca66 !important;
    box-shadow: -1px 1px 10px 5px rgba(0,0,0,.1);
    border-radius: 25px;
    background-color: #161616;
    border: 1px dotted #e3ca66;
}

.isotope-pager .prev{
  border-radius: 30px 0 0 30px;
}

.isotope-pager .next{
  border-radius: 0 30px 30px 0;
}

.isotope-pager a::before,.isotope-pager a:after{
  content: "";
  position: absolute;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}
.isotope-pager .num::before,.next::before{
  border-right: 20px solid #2c3e50;
  right: 100%;
}

.isotope-pager .num:after,.prev:after{
  border-right: 20px solid #f1f1f1;
  right: 0;
}





.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.grid-item:hover .overlay {
  opacity: 1;
}

.overlay a{
    background: #f68338;
    font-size: 12px;
    color: #fff;
    padding: 5px 20px;
    text-decoration: none;
    cursor: pointer;
}
.overlay a:hover {
    background: #cb6f33;
}

/*--------------Portfolio area Ends-----------*/


/*------ 11. Contact area starts-------*/


#contact-form {
    box-shadow: 0 20px 40px rgba(0,0,0,.2);
    padding: 5%;
}

.single-contact i {
    font-size: 30px;
    color: #f68338;
}

.single-contact .socials i {
    font-size: 14px;
    color: #000000;
}

.socials i:hover {
    cursor: pointer;
}

.single-contact {
    margin-bottom: 50px;
}

.contact-area .form-control{
    border: none;
    border-bottom: 2px solid #a2a2a2;
    box-shadow: none;
    padding: 6px 0;
    border-radius: 0;
    margin-bottom: 30px;
}

.contact-area textarea.form-control{
    border:2px solid #a2a2a2;
    padding: 6px;
    height: 250px;
    margin-bottom: 30px;
}

.single-contact h2 {
    text-transform: uppercase;
    font-size: 16px;
}

.btn.btn-send {
    background: #f68338;
    color: #ffffff;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.contact-right h2 {
    font-size: 18px;
    text-transform: uppercase;
}

.socials {
    padding-top: 5%;
}

.socials i {
    margin: 0 10px;
}

.single-contact {
    box-shadow: 0 20px 40px rgba(0,0,0,.2);
    padding: 5%;
}

/*-------- Contact area ends----------- */

/*--------------13. Footer area starts -------------*/

.ftco-section {
  position: relative; 
  }

.ftco-no-pt {
  padding-top: 0; }

.ftco-no-pb {
  padding-bottom: 0; }

.ftco-bg-dark {
  background: #3c312e; }

.ftco-footer {
  font-size: 14px;
    background: #1c1c1c;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 80px;
    bottom: 0;
    z-index: 0;
    width:100%;
  }


  .ftco-footer .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em; }
  .ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700; }
  .ftco-footer .ftco-footer-widget ul li a span {
    color: #c5c5c5; }
  .ftco-footer .ftco-footer-widget ul li a span:hover {
    color: #fff; }
  .ftco-footer .ftco-footer-widget .open-hours li span {
    width: 100%;
    color: rgba(255, 255, 255, 0.7); }
  .ftco-footer .ftco-footer-widget .thumb a.thumb-menu {
    width: 100%;
    height: 100px;
    display: block; 
	background-size: cover;
    background-position: center center;
	}
  .ftco-footer .ftco-footer-widget .btn-primary {
    background: #fff !important;
    border: 2px solid #fff !important; }
    .ftco-footer .ftco-footer-widget .btn-primary:hover {
      background: #fff;
      border: 2px solid #fff !important; }
  .ftco-footer p {
    color: rgba(255, 255, 255, 0.7); 
      font-weight: 100;
      text-align: justify;
  }
  .ftco-footer a {
    color: rgba(255, 255, 255, 0.7); }
    .ftco-footer a:hover {
      color: #fff; }
  .ftco-footer .ftco-heading-2 {
    font-size: 17px;
    font-weight: 700;
    color: #000000; }
  .ftco-footer .categories li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .ftco-footer .categories li a span {
      color: rgba(255, 255, 255, 0.5) !important; }
  .ftco-footer .subscribe-form .form-group {
    position: relative;
    margin-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
    .ftco-footer .subscribe-form .form-group input {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      width: 100%;
      background: rgba(255, 255, 255, 0.1) !important;
      border: none;
      color: rgba(255, 255, 255, 0.7) !important;
      font-size: 16px; }
      .ftco-footer .subscribe-form .form-group input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(255, 255, 255, 0.7) !important; }
      .ftco-footer .subscribe-form .form-group input::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(255, 255, 255, 0.7) !important; }
      .ftco-footer .subscribe-form .form-group input:-ms-input-placeholder {
        /* IE 0+ */
        color: rgba(255, 255, 255, 0.7) !important; }
      .ftco-footer .subscribe-form .form-group input:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(255, 255, 255, 0.7) !important; }
    .ftco-footer .subscribe-form .form-group .submit {
      color: #fff !important;
      font-size: 16px;
      background: #c8a97e !important;
      border: none !important;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px; }
      .ftco-footer .subscribe-form .form-group .submit:hover {
        cursor: pointer; }
  .ftco-footer .subscribe-form .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.8); }

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block; }
  .ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative;
	transition:0.5s; 
	}
.ftco-footer-social li a:hover {
	border:1px solid #a7000c;
	transition:0.5s;
}
    .ftco-footer-social li a span {
      position: absolute;
      font-size: 20px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .ftco-footer-social li a span:hover {
      color: #fff; }

.footer-small-nav > li {
  display: inline-block; }
  .footer-small-nav > li a {
    margin: 0 10px 10px 0; }
    .footer-small-nav > li a:hover, .footer-small-nav > li a:focus {
      color: #c8a97e; }

.link-thumbnail {
  display: block;
  position: relative;
  overflow: hidden;
  text-align: center; }
  @media (max-width: 991px) {
    .link-thumbnail {
      margin-bottom: 30px; } }
  .link-thumbnail img {
    position: relative;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .link-thumbnail .date {
    display: block;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    margin-bottom: 10px; }
  .link-thumbnail .icon {
    position: absolute;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    z-index: 4;
    top: 50%;
    font-size: 30px;
    color: #fff;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    margin-top: 30px; }
  .link-thumbnail h3 {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: -20px;
    left: 0;
    color: #fff;
    font-size: 18px;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    z-index: 10;
    left: 50%;
    display: block;
    width: 77%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .link-thumbnail:before {
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute; }
  .link-thumbnail:hover h3 {
    opacity: 1;
    visibility: visible;
    bottom: 30px; }
  .link-thumbnail:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .link-thumbnail:hover .icon {
    opacity: 1;
    visibility: visible;
    margin-top: 0px; }
  .link-thumbnail:hover:before {
    opacity: 1;
    visibility: visible; }

.border-t {
  border-top: 1px solid #f8f9fa; }

.copyright {
  font-size: 14px; }
  

.thumb.d-sm-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.thumb.d-flex{
	display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.ftco-footer-social{
	padding-top:15px;
}
li.d-flex{
	padding: 4px 0;
	font-weight: 100;
}

.f-contact ul{
    list-style: none;
}
.f-contact ul li{
        padding: 7px 0;
		color: rgba(255, 255, 255, 0.7);
}
.f-contact ul li i{
    color: rgba(255, 255, 255, 0.7);
    padding-right: 20px;
    font-size: 18px;
}

.d-inline-block {
    display: inline-flex !important;
}
.footer-copy{
    padding: 0 0 0 80px;
    position: relative;
}
.footer-copy:after {
    content: '';
    position: absolute;
    height: 100%;
    left: 80px;
    top: 0px;
    z-index: 0;
    border-left: 3px solid;
    border-color: #F68338;
}
.footer-copy p{
    letter-spacing: 1px;
    margin: 0;
    background: #383838;
    color: #fff;
    font-size: 12px;
}

/*--------------- Footer area ends -------------*/

.top-nav {
    position: fixed;
    top: 0;
    z-index: 10000;
    transition: 0.5s;
}

.bottom-nav {
    position: absolute;
    bottom: -65px;
    z-index: 10000;
    transition: 0.5s;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    bottom: 0;
    z-index: 20;
    background: #292929;
    -webkit-transform: translate3d(0,0,0);
}

.logo-holder {
    position: absolute;
    top: 50px;
    left: 15px;
    z-index: 5;
    padding: 0px 8px 0px 8px;
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.logo-holder span{
    float: left;
    color: #fff;
    font-size: 22px;
}

.yellow
{
    color: #f68338  !important;
}
.d
{
    margin-left: -5px;
}
.header-social {
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
    z-index: 20;
    padding: 20px 0;
    background: #383838;
}
.header-social:before {
    content: '';
    position: absolute;
    left: 50%;
    top: -3px;
    width: 36px;
    margin-left: -18px;
    height: 6px;
    background: #F68338;
}

.header-social ul {
    text-align: center;
}
.header-social li {
    display: block;
    margin-top: 6px;
}

.header-social li a {
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.41);
    border: 1px solid rgba(255, 255, 255, 0.08);
    transition: all 300ms linear;
}
.header-social li a:hover {
    color: #F68338;
    border: 1px solid #F68338;
}
.content
{
    padding-left: 80px;
    z-index: 1;
    background: #fff;
    margin-bottom: 25em;
    position: relative;
}

.ah-words-wrapper span
{
    padding: 0;
    color: #f68338;
}

.hero-corner, .hero-corner2, .hero-corner3 {
    position: absolute;
    width: 70px;
    height: 70px;
    z-index: 21;
    border-color: rgba(255,255,255,0.3);
}

.hero-corner {
    top: 50px;
    right: 50px;
    z-index: 21;
    border-top: 1px solid;
    border-right: 1px solid;
}

.hero-corner2 {
    top: 50px;
    left: 130px;
    border-top: 1px solid;
    border-left: 1px solid;
}

.ftco-footer:after {
    content: '';
    position: absolute;
    width: 40%;
    height: 50%;
    left: 80px;
    top: -3px;
    z-index: 0;
    border-left: 3px solid;
    border-top: 3px solid;
    border-color: #F68338;
}

.ftco-footer:before {
    content: '';
    position: absolute;
    top: 100px;
    bottom: 100px;
    right: 15px;
    width: 2px;
    background: rgba(255,255,255,0.1);
}

.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  border: 0px;
  height: 1px;
  overflow: hidden;
  background:#1b1b1b;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 400px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: grey;
}

.pace.pace-inactive {
  display: none;
}

#preloader{
  width:100%;
  height:100vh;
  background:#101010;
  overflow:hidden;
  position:fixed;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}










